<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista delle canzoni</title>
</head>
<body>
<div th:if="${songs.size() == 0}">There are no songs</div>
<div th:if="${songs.size() > 0}">
    <ul>
        <li th:each="current : ${songs}">
            <h5 th:text="${current.title}"> </h5>
            <a th:href="@{/songs/details(id=${current.id})}" th:text="${current.title}"></a>
        </li>
    </ul>
</div>
</body>
</html>
